DATABASE_URL=sqlite+aiosqlite:///./poke-crawler.db
DB_ECHO=false

# Crawler Settings
BASE_URL=https://bulbapedia.bulbagarden.net/wiki/
CRAWLER_URL_SUFFIX=_(Pokémon)
CRAWLER_MAX_RETRIES=3
CRAWLER_QUEUE_MAXSIZE=5

# Browser Settings
BROWSER_HEADLESS=false

# Business Rules
MAX_TYPES_PER_POKEMON=2
MAX_ABILITIES_PER_POKEMON=3

# Files
IMAGES_PATH=./media/images
